* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 700 40px "Roboto" sans-serif;
}
.flex-container {
  width: 800px;
  margin: 0 auto;
}
.flex-item {
  padding: 10px;
	font: 900 60px 'Roboto', sans-serif;
	color: #fff;
	text-align: center;
	text-shadow: 4px 2px 0 rgba(0, 0, 0, 0.2);
}
.item-1 {
  background-color: red;
}
.item-2 {
  background-color: blue;
}
.item-3 {
  background-color: yellowgreen;
}
.item-4 {
  background-color: gray;
}
.item-5 {
  background-color: black;
}
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex: 1;
}
@media screen and (max-width: 650px){
  main {
    flex-direction: column;
  }
  section {
    order: -1;
  }
}
aside {
  flex: 1;
}
section {
  flex: 3;
}